*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}

/* font stlying */

nav, .homePage h1, .calcContentContainer h2, .nameAndAddressContainer h2, .restNameBox, .popUpInfo h2{
    font-family: 'Cabin', sans-serif;
}

.homePage form, header, .homePageError, .xButton, .calcContentContainer p, .nameAndAddressContainer p, .moreInfoButton, .travelInfo, .distanceInfoBox, .ratingBox, .emissionsInfoBox, .extraInfoBox, form label{
    font-family: 'Roboto', sans-serif;
}


li.name{
    font-size:22px;
    line-height:22px;
}

li.footIcon{
    font-size:11px;
}

.homePage h1{
    font-size:28px;
    line-height:32px;
}

form{
    font-size:18px;
}

.nameAndAddressContainer h2, .popUpInfo h2{
    font-size:22px;
    line-height:28px;
}

.homePageError h2, header, header h2, .nameAndAddressContainer p, .moreInfoButton, .travelInfo, .calcContentContainer p, .popUpInfo p, .compBox p{
    font-size:16px;
    line-height:20px;
}

/* nav bar styling */

nav{
    position:fixed;
    top:0;
    width:100%;
    background-color:#297163;
    color:white;
    height:10vh;
    padding-left:10px;
    padding-right:10px;
    z-index: 99;
}

nav ul{
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

nav li{
    display:inline;
}

nav .footIcon{
    margin-left:5px;
}

/* main and body styling */

body{
    height:80vh;
    margin-top:10vh;
    margin-bottom:10vh;
}

main{
    height:100%;
    overflow:scroll;
}

/*footer*/

footer{
    background-color:#297163;
    height:10vh;
    padding-left:10px;
    padding-right:10px;
    position:fixed;
    width:100%;
    bottom:0;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index: 99;
}

/* home page styling */

.homePage{
    height:100%;
    background-image: url('images/hero.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.hidden{   /* error messages are hidden */
    display:none;
}
 
.homePageFormContainer{
    background-color: rgba(186,222,215,0.8);
    color:#042e56;
    width:85%;
    padding:0px 25px 25px 25px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-radius:20px;
}

.homePage h1{
    text-align:center;
}

.homePage h1 i{
    color:grey;
}

/* form styling */

#autocomplete{
    margin-top:5px;
    margin-bottom:15px;
    padding-left:10px;
    border-radius:20px;
    width:100%;
    height:35px;
    display:flex;
    color:grey;
    box-shadow:none;
    cursor:pointer;
}

.formButtonContainer{
    width:100%;
    display:flex;
}

form label{
    margin-right:auto;
    font-weight:bold;
    width:100px;
}

#submitButton{
    width:100%;
    height:35px;
    background-color: #042e56;
    color:white;
    border-radius:20px;
}

#submitButton:hover, .reset:hover{
    background-color: #01488c;
    cursor:pointer;
}

.reset{
    width:50%;
    height:35px;
    margin-left:10px;
    background-color: #042e56;
    color:white;
    border-radius:20px;
}

form{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* home page error styling */

.homePageError{
    position:relative;
    top:20px;
    margin-bottom:20px;
    width: 100%;
    padding:30px 10px 10px 10px;
    background-color:#edf5e0;    
    text-align:center;
    border-radius:10px;
}

.xButtonError{
    position:absolute;
    top:5px;
    right:5px;
    height:20px;
    width:20px;
    border-radius:50%;
    background-color: #042e56;
    color:white;
}

.xButtonError:hover{
    background-color: #01488c;
    cursor:pointer;
}

/* results page styling */

.resultsPage{
    padding-bottom:5px;
}

.resultContainer{
    margin-top:10px;
    height:180px;
    display:flex;
    background-color:#edf5e0;
    border:3px solid #e3ead7;
    margin:10px;
}
/* header (includes buttons) styling */

.newSearchButton, .carbonCalculations{
    background-color:#297163;
    color:white;
    width:50%;
    height:100%;
    border:3px solid #225f53;
}

.newSearchButton:hover, .carbonCalculations:hover{
    background-color:#042e56;
    cursor:pointer;
}

.buttonContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:50px;
    background-color:#389583;
    margin-bottom:20px;
}

header h2{
    margin-left:10px;
    margin-right:10px;
    color:grey;
    border-bottom:2px solid grey;
}

/* phone view results styling */

.phoneView{
    display:flex;
    width:100%;
}

.mainInfoContainer{
    width:55%;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    justify-content:space-around;
    color:#042e56;
}    

.travelInfo{
    width:43%;
    margin:3%;
    padding:1%;
    display:flex;
    flex-direction:column;
    text-align:center;
    align-items:center;
    justify-content:space-evenly;
    border-radius:20px;
    background-color: rgba(186,222,215,1);
}

.addressPhone{
    display:none;
    margin-top:10px;
}

.moreInfoButton{    
    background-color: #042e56;
    color:white;
    width:100px;
    height:20%;
    margin-left:10px;
    border-radius:20px;
}

.moreInfoButton:hover{
    background-color: #01488c;
    cursor:pointer;
}

/* computer view styling */

.compView{
    display:none;
}

.compBox{
    width:25%;
    display:flex;
    flex-direction:column;
    text-align:center;
}

.restNameBox{
    padding:1%;
    justify-content:center;
    color: #042e56;
}

.emissionsInfoBox{
    margin:1%;
    padding:1%;
    display:flex;
    flex-direction:column;
    text-align:center;
    align-items:center;
    justify-content:space-evenly;
    border-radius:20px;
    background-color: rgba(186,222,215,1);
}

.ratingBox{
    justify-content:space-evenly;
}

.distanceInfoBox{
    margin:1%;
    justify-content:space-evenly;
}

/* to top button styling */

.toTopButton{
    z-index:100;
    display:none;
    position:fixed;
    right:10px;
    bottom:5px;
    border: none; 
    outline: none; 
    background-color:#042e56; 
    color: white; 
    cursor: pointer; 
    height:50px;
    width:50px;
    border-radius:50%;
}

.toTopButton:hover{
    background-color: #01488c;
    cursor:pointer;
}

.scrolled{
    display:block;
}

/* pop up container (carbon calculations and results) styling */

.calculationsContainer, .popUpResult{
    position:fixed;
    top:10%;
    left:10%;
    width:80%;
    height:80%;
    padding:25px;
    border:4px solid #225f53;
} 

/* carbon calculations container styling */

.calculationsContainer{
    text-align:center;
    background-image: url('images/driving.png');
    background-position:center center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    z-index:97;
    box-shadow: 1000px 1000px 0px 2000px #297163;
    background-color:white;
    border-radius:20px;
}

.calcContentContainer{
    background-color: rgba(186,222,215,0.9);
    border-radius:20px;
    padding:40px 20px 20px 20px;
    height:100%;
    position:relative;
    overflow:scroll;
}

.calcContentContainer p{
    margin-top:25px;
}

.calcContentContainer a{
    color:black;
    cursor:pointer;
}

/* x button (carbon calculations and results) styling */

.xButtonCalc, .xButtonResult{
    position:absolute;
    top:5px;
    right:5px;
    height:30px;
    width:30px;
    border-radius:50%;
    background-color: #042e56;
    color:white;
}

.xButtonCalc:hover, .xButtonResult:hover{
    background-color: #01488c;
    cursor:pointer;
}

/* pop up results styling */

.popUpResult{
    justify-content:space-evenly;
    background-image: url('images/walking.jpg');
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    z-index:97;
    box-shadow: 1000px 1000px 0px 2000px #297163;
    border-radius:20px;
    background-color:white;
}

.popUpInfo{
    background-color: rgba(186,222,215,0.9);
    border-radius:20px;
    height:100%;
    position:relative;
    padding:40px 20px 20px 20px;
    overflow:scroll;
}

.popUpInfo h2{
    text-align:center;
    color: #042e56;
}


.extraInfoBox{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}

.infoBullet{
    display:flex;
    padding-bottom:10px;
}

.extraInfoBox i{
    padding-right:15px;
}

.popUpTravel{
    display:flex;
    flex-direction:column;
}


/*styling for screens greater than 600px wide*/
@media only screen and (min-width: 600px) {
    /*make address appear under restaurant name*/
    .addressPhone{
        display:block;
    }
    .calculationsContainer,.popUpResult{
        padding:60px;
    } 
}

/*styling for screens greater than 700px wide*/
@media only screen and (min-width: 700px) {
    /*make address appear under restaurant name*/
    .homePage{
        background-size:100%;
    }
    .homePageFormContainer{
        width:75%;
    }
}


/*styling for screens greater than 750px wide*/
@media only screen and (min-width: 750px) {
    #autocomplete, .reset, #submitButton{
        height:40px;
    }
    /*do not display phoneView of results*/
    .phoneView{
        display:none;
    }
    /*make results compView*/
    .compView{
        display:flex;
        width:100%;
    }
    /*change height of resultContainer*/
    .resultContainer{
        height:120px;
        margin:10px;
    }
    .calculationsContainer, .popUpResult{
        padding:75px;
    } 
}

/*styling for screens greater than 900px wide*/
@media only screen and (min-width: 900px) {
    /*make address appear under restaurant name*/
    .calculationsContainer, .popUpResult{
        padding:90px;
    } 
}

/*styling for screens greater than 1000px wide*/
@media only screen and (min-width: 1000px) {
    .homePageFormContainer{
        width:60%;
    }
    #autocomplete, .reset, #submitButton{
        height:45px;
    }
}

/*styling for screens greater than 1100px wide*/
@media only screen and (min-width: 1100px) {
    /*make address appear under restaurant name*/
    .calculationsContainer, .popUpResult{
        padding:110px;
    } 
}


/*styling for screens greater than 1500px wide*/
@media only screen and (min-width: 1500px) {
    .homePageFormContainer{
        width:40%;
    }
    #autocomplete, .reset, #submitButton{
        height:50px;
    }
    .calculationsContainer, .popUpResult{
        padding:250px;
    } 
}
