*{
    margin:0;
    padding:0;
    border:0;
}

.hidden{
    display:none;
}
 
/* home page formatting */


.homePage{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.homePage h2{
    text-align:center;
    padding-top:25px;
}

/* address form formatting */

#autocomplete{
    width:75%;
    height:30px;
    border:1px solid grey;
}

#submitButton{
    width:75%;
    height:30px;
    border:1px solid grey;
}

form{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

form input{
    margin-top:10px;
}

/* results page formatting */

.resultContainer{
    margin:10px;
    border:1px solid black;
    display:flex;
}

.newSearchButton{
    width:100px;
    height:25px;
    border:1px solid black;
}
